@font-face {
  font-family: DM Sans;
  src: url(../assets/fonts/DMSans-VariableFont_opsz\,wght.woff);
}

@font-face {
  font-family: Mulish;
  src: url(../assets/fonts/Mulish-VariableFont_wght.woff);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: DM Sans;
}
.container{
    width: 100%;
    margin: 0 auto;
    padding: 0 70px;
}
a{
    color: inherit;
    text-decoration: inherit;
}
li{
    list-style: none;
}
img{
    max-width: 100%;
    max-height: 100%;
}
input, button, textarea, select{
    border: none;
    outline: none;
}


